#!/usr/bin/env bash

# get current branch in git repo
git_status() {
  local BRANCH
  BRANCH="$(git branch 2>/dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/\1/')"
  if [[ -n "${BRANCH}" ]]; then
    local STAT
    STAT="$(parse_git_dirty)"
    if [[ -n "$STAT" ]]; then
      printf "%s[%s %s]%s" "$(red)" "$BRANCH" "$STAT" "$(ce)"
    else
      printf "%s[%s%s]%s" "$(green)" "$BRANCH" "$STAT" "$(ce)"
    fi
  fi
}

get_repo_basename() {
  local toplevel
  toplevel="$(git rev-parse --show-toplevel 2>/dev/null)"
  if [[ -n "$toplevel" ]]; then
    basename "$toplevel"
  fi
}

get_repo_owner() {
  local toplevel
  toplevel="$(git rev-parse --show-toplevel 2>/dev/null)"
  if [[ -n "$toplevel" ]]; then
    local owner
    owner="$(basename "$(dirname "$toplevel")")"
    printf "%s" "$owner"
  fi
}

# get current status of git repo using fast, built-in Bash pattern matching (no grep process spawns!)
parse_git_dirty() {
  local status
  status="$(git status 2>&1)"
  if [[ "$status" == *"modified:"* ]]; then printf "!"; fi # dirty
  if [[ "$status" == *"Untracked files"* ]]; then printf "?"; fi # untracked
  if [[ "$status" == *"new file:"* ]]; then printf "+"; fi # new files
  if [[ "$status" == *"renamed:"* ]]; then printf ">"; fi # renamed files
  if [[ "$status" == *"deleted:"* ]]; then printf "x"; fi # deleted files
  if [[ "$status" == *"Your branch is ahead of"* ]]; then printf "*"; fi # ahead of
}

# ps1 color functions
# add colors like this `red`\$`ce` generates red '$' prompt
ps1_color_open() {
  local red="$1"
  local green="$2"
  local blue="$3"
  printf '\001\033[0;38;2;%s;%s;%sm\002' "$red" "$green" "$blue"
}

green() {
  ps1_color_open 0 254 0
}
red() {
  ps1_color_open 254 0 0
}
blue() {
  ps1_color_open 0 0 254
}
orange() {
  ps1_color_open 254 127 0
}
white() {
  ps1_color_open 254 254 254
}
yellow() {
  ps1_color_open 254 254 0
}

# color end
ce() {
  printf '\001\033[m\002'
}

ts() {
  stty cols 450 2>/dev/null
}

set_terminal_size() {
  local row="$1"
  local col="$2"
  if [[ -z "$row" ]]; then row=70; fi
  if [[ -z "$col" ]]; then col=300; fi
  stty rows "$row" 2>/dev/null
  stty cols "$col" 2>/dev/null
}
