*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
dist/
modules-dev/
/pkg/
.vagrant/
*.backup
./*.tfstate
.terraform/
.terraform.lock.hcl
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
report.json

.nix-script.sh
